<!DOCTYPE html>
<html>
  <head>
    <title>CommunityShieldPrototype</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/29a2226dfa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: type %>
    <% end %>

    <%= yield %>
  </body>
</html>
